<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Blog</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="../Views/Shared/_Header.cshtml.css" type="text/css" />
    @await RenderSectionAsync("Styles", false)
</head>

<body>
    <div class="bg-info">
    <header>
      


        <div class="card bg-dark text-white">
  <img src="~/image/header.jpg" class="button mw" asp-area="" asp-controller="Home" asp-action="Index" class="card-img" alt="..." />
  <div class="card-img-overlay">
   <a class="display-1 card-title mb-2 btn btn-lg d-flex justify-content-center align-items-md-stretch" asp-controller="Home" asp-action="Index">BLOG</a>
  </div>
</div>

    </header>
    </div>

    <div class="container">
    </div>
    
    @RenderBody()



    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 -BLog - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
