@using Blog.Proj.Model
@model PostCategoryModel

@*
div class="card">

    <div class="card-body">
        <h6 class="card-title ">@Model.Name </h6>
        <p class="card-text ">@Model.Description</p>
   <a class="card-title mb-2 btn btn-outline-info" asp-controller="Home" asp-action="Details">Read</a>

    </div>

</div>*@


<div class="row">

    <div class="col-9  d-flex justify-content-end align-items-center">      


            <hr />



            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">@Model.Name</h1>
                    <p class="lead">@Model.Description</p>
                </div>
            </div>


      

    </div>
     </div>