/* _content/Blog.Proj/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-gpqe9nqnzy] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-gpqe9nqnzy] {
  color: #0077cc;
}

.btn-primary[b-gpqe9nqnzy] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-gpqe9nqnzy], .nav-pills .show > .nav-link[b-gpqe9nqnzy] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-gpqe9nqnzy] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-gpqe9nqnzy] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-gpqe9nqnzy] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-gpqe9nqnzy] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-gpqe9nqnzy] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Blog.Proj/Views/Shared/_Header.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body[b-gryz8fhxfm], html[b-gryz8fhxfm] {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

*[b-gryz8fhxfm] {
    box-sizing: border-box;
}

.bg-image[b-gryz8fhxfm] {
    /* Full height */
    height: 50%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Images used */
.img1[b-gryz8fhxfm] {
    background-image: url("../../wwwroot/image/header.jpg");
}



/* Position text in the middle of the page/image */
.bg-text[b-gryz8fhxfm] {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    font-size: 80px;
    border: 10px solid #f1f1f1;
    position: fixed; /* Stay fixed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 300px;
    padding: 20px;
    text-align: center;
}
